[MESSAGES CONTROL]
# bad-continuation doesn't really work with tabs
disable=fixme,invalid-name,bad-continuation,import-error,too-many-instance-attributes
indent-string="\t"

[TYPECHECK]
ignored-modules = numpy
